<p>Guardian summary</p>
<ul>
    <li>
        Guardian dashboard info
        <ul>
            <li>Wards summary
                <ul>
                    <li>Total number of wards</li>
                    <li>Number of actively enroled wards</li>
                    <li>Number of formerly enroled wards</li>
                    <li>
                        Cards showing wards - Linking to ward pages
                    </li>
                </ul>
            </li>
            <li>
                Calendar summary
                <ul>
                    <li>Academic calendar progress</li>
                    <li>Upcoming reminders</li>
                </ul>
            </li>
            <li>School fees
                <ul>
                    <li>Total due</li>
                    <li>Last payment made</li>
                    <li>Next upcoming</li>
                </ul>
            </li>
            <li>Wards activities
                <ul>
                    <li>Date of activity</li>
                    <li>Description</li>
                    <li>Remark</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
